TV/tvschedule.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="tvschedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="channel" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="banner"/>
				<xs:element ref="day" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="chan" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="banner">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="day">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="holiday"/>
					<xs:element ref="programslot" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="holiday">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="programslot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="time"/>
				<xs:element ref="title"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="vtr" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="time">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:attribute name="rating" type="xs:anySimpleType"/>
			<xs:attribute name="language" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
