Movie/movie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="movies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="movie" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="movie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="director" maxOccurs="unbounded"/>
				<xs:element ref="actor" maxOccurs="unbounded"/>
				<xs:element ref="year"/>
				<xs:element ref="score"/>
				<xs:element ref="comments" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="director">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="actor">
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="sex" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="nationality" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="year">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="score">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="comments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author"/>
				<xs:element ref="date"/>
				<xs:element ref="content"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="content">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
